

<!-- 

<div style="margin: 10px; padding: 50px">
  <app-newproduct></app-newproduct>
  <hr>
  <app-products [products]="prodcutsList"></app-products>
</div>


<hr> -->
<!-- yellow -->
<!-- <input type="text" disabled /> -->

<!-- <input type="text" [value] = "" /> -->

<!-- 
<div  style="text-align:center">

  <p
   appBasic 
  [color]="'green'"
  [inMouseLeave]="'red'" 
  [inMouseEnter]="'yellow'">
  i am the paragraph..</p>



  <span
   appBasic 
  [color]="'green'"
  [inMouseLeave]="'red'" 
  [inMouseEnter]="'yellow'">
  Hello..</span> -->
  <!-- hostelement -->
  <!-- i am hosting appbasic to the spanelemn -->
  <!-- terminaligy -->



<!-- </div> -->

<br>
<br>

<!-- <p appBasic>Hello paragraph</p> -->

<app-pipes-one></app-pipes-one>

